/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 100%;
    border: 3px solid grey;
    
}

/*=========== styling section ==================================*/

html {
font-size: 62.5%;
}

body{
font-size: 1.6rem;

}

.container {
border: 2px solid gray;

}

h1 {
font-family: 'Chelsea Market', cursive;
font-size: 6rem ;
color: green;
text-align: center;
padding:
}

p,a,footer {
font-family: 'Roboto Mono', monospace;
}


.container header nav a {
margin: 0 20px;
border: 1px solid lightgray;
padding:  20px;
display: inline-block;
border-radius: 20px;
color: white;
text-decoration: none;
margin-bottom: 20px;
}

div .explore {
    text-align: center;
    
}



div .mountains {
width:20%;
border: 2px solid grey;
border-radius: 50%;
}

div .campfire {
   display: inline-block;
   width: 20%;
   
}

div .truck {
    display: inline-block;
    width: 20%;
    margin: 0 auto; 
    padding: 20px;  
    
}


.info {
border: 2px solid gray; 
background-color: #DDB9A3;
}

nav a{
background-color:#FF764E ;
}


nav a:last-child {
background-color: #FFCD69;

}
/* footer section =========*/

footer {
    width: 100%;
}
footer .footer-content{
    margin: 0 auto;
    width: 100%;
    height: 50%;
}

nav a {
    margin: 0 20px;
    border: 1px solid lightgray;
    padding:  20px;
    display: inline-block;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
    }
    