/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 100%;
    border: 3px solid grey;
    
}

/*=========== styling section ==================================*/

html {
font-size: 62.5%;
}

body{
font-size: 1.6rem;

}


 

p,a,footer, h2 {
font-family: 'Roboto Mono', monospace;
}

/* navigation section ======================*/

nav a {
margin: 0 20px;
border: 1px solid black;
padding:  20px;
display: inline-block;
border-radius: 20px;
color: white;
text-decoration: none;
margin-bottom: 20px;
}

.nav1 {
background-color:#FF764E ;
}

.nav2 {
background-color: #5ED3EB;
}


.nav3 {
background-color: #FFCD69;

}

div .mountainz {
width: 20%;
height: 200px;
display: inline-block;
margin: 0;
}



.mountainz img{
width: 30%;
height: 325px;
border-radius: 50%;
padding: 5%;
display: inline-block;
margin: 0;
}
h1 {
    font-family: 'Chelsea Market', cursive;
    font-size: 4rem ;
    text-align: center;
    border: 2px dotted black;
    display: inline-block;
    margin: 0;
    
    } 

.guide {
    width: 50%;
    height: 50%;
    border: 2px solid black;
    display: inline-block;
    margin: 0;
}


.fire-section{
margin: 0%;
padding: 5%;
text-align: center;
}

div .campfire {
width: 20%;
}

.over-fire{
border: 1px solid black;
margin: 0 auto;
}
.fire-section p {
width: 60%;

}

.over-truck {
border: 1px solid black;
margin: 0 auto;
}

.truck-section{
margin: 0%;
padding: 5%;
text-align: center;

}
div .truck {
width: 25%;
margin: 0 auto; 
padding: 20px; 
}

.truck-section p {
width: 60%;

}


.info {
border: 2px solid gray; 
background-color: #DDB9A3;
color: white;
display:inline-block;
}


/* footer section =========*/

.footmount {
height: 40vh;

padding: 0;
display: inline-block;
border: 2px dotted black;
}

footer {
width: 100%;
background-color:#F9E7DC;
}
footer .footer-content{
margin: 0 auto;
width: 100%;
height: 50%;
}

nav a {
    color: white;
    text-decoration: none;
margin: 0 8 2% 3;
border: 1px solid lightgray;
padding:  15px;
display: inline-block;
border-radius: 20px;



}
